.features
  .features__title Вам могут быть интересны
  .features__list
    .features__item
      include ../item/item
    .features__item
      include ../item/item
    .features__item
      include ../item/item