$font-family: 'Gilroy', sans-serif;
$font-icons: 'Fontello', sans-serif;

$text-color: #FFFFFF;
$text-color-opacity: rgba(65, 72, 80, 0.8);

$blue-color: #5E44FE;
$yellow-color: #FAEC7A;
$purple-color: #B2A5FF;

$orange-color: #FF582B;
$green-color: #82CA71;
$red-color: #FA4A4A;