.header-block
  ul.header-block__scene
    li(data-depth="0.4")
    li(data-depth="0.6")
  .header-block__wrap
    .header-block__title Блог
    .header-block__text
      p Читай, будь в курсе<br/> последних новостей
    .header-block__social
      include ../../social/social
      +social('white')