/* Переменные */
@import '../../_defaults/variables';

.header-block {
  position: relative;
  padding: 160px 40px 40px 0;

  &:before,
  &:after {
    content: '';
    width: 700px;
    height: 340px;
    position: absolute;
    z-index: 1;
  }

  &:before {
    background: rgba(236, 176, 66, 0.28);
    top: calc(160px + 20px);
    left: 20px;
  }

  &:after {
    background: rgba(236, 176, 66, 0.28);
    top: calc(160px + 40px);
    left: 40px;
  }
}

.header-block__wrap {
  background: $orange-color;
  position: relative;
  z-index: 2;
  width: 700px;
  height: 340px;
  padding: 58px 0 0 0;
}

.header-block__title {
  font-size: 230px;
  letter-spacing: 0.015em;
  color: $red-color;
  font-weight: bold;
  padding: 0 0 0 50px;
  line-height: 278px;
  position: absolute;
  transform: translateY(-218px);
}

.header-block__text {
  font-size: 36px;
  padding: 42px 0 0 65px;
  color: #FFFFFF;
}

.header-block__social {
  padding: 36px 0 0 65px;
}


/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 993px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}