/* Переменные */
@import '../_defaults/variables';

.content {
  background: url('./components/content/love.gif') no-repeat 24% 20px,
  url('./components/content/g.svg') no-repeat 94% 568px;
  background-size: 10%, auto;

  @media (max-width: 1280px) {
    background-size: 104px auto;
  }
}

.content__tag {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  padding: 0 226px;

  @media (max-width: 1280px) {
    padding: 0 80px;
  }

  @media (max-width: 992px) {
    padding: 0 50px;
  }

  @media (max-width: 768px) {
    padding: 0 24px;
  }

  @media(max-width: 480px) {
    padding: 17px 24px 0 !important;
  }
}

.content__mid {
  display: flex;
  align-items: flex-start;
  margin: 82px 0 0 0;
  overflow: hidden;

  @media (max-width: 992px) {
    margin: 30px 0 0 0;
  }

  @media (max-width: 940px) {
    flex-wrap: wrap;
    margin: 15px 0 0 0;
  }
}

.content__button {
  display: none;

  @media (max-width: 940px) {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 0 40px;
  }
}

.content__aside {
  width: 500px;
  padding: 29px 40px 0 0;

  @media (max-width: 1468px) {
    width: 380px;
    padding: 29px 40px 0 0;
  }

  @media (max-width: 1200px) {
    width: 200px;
    padding: 29px 40px 0 0;
  }

  @media (max-width: 940px) {
    width: 100%;
    padding: 0;
  }
}

.content__main {
  width: calc(100% - 500px);
  padding: 0 226px 0 0;
  display: flex;

  @media (max-width: 1468px) {
    width: calc(100% - 380px);
    padding: 0 80px 0 0;
  }

  @media (max-width: 1200px) {
    width: calc(100% - 200px);
    padding: 0 50px 0 0;
  }

  @media (max-width: 940px) {
    width: 100%;
    padding: 0 40px;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 24px !important;
  }
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  margin: -25px -20px;
  max-width: 1170px;
  justify-content: flex-start;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.content__item {
  margin: 25px 20px;

  &:last-child {
    align-self: flex-start;
  }
}

.content__bot {
  margin: 90px auto 0;
  padding: 0 226px;

  @media (max-width: 1468px) {
    padding: 0 80px;
  }

  @media (max-width: 1200px) {
    padding: 0 50px;
  }

  @media (max-width: 992px) {
    padding: 0 40px !important;
  }

  @media (max-width: 768px) {
    padding: 0 24px !important;
  }
}

.content__bot-wrap {
  border-top: 1px solid #ABABAB;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
}

.content__link-home {
  font-size: 16px;
  color: #000000;
  transition: color 0.08s;

  .no-touch &:hover {
    color: $orange-color;
  }
}

.content__nav {
  .content__nav-prev,
  .content__nav-next {
    color: #000000;
    transition: color 0.08s;

    &:before {
      font-family: $font-icons;
    }

    .no-touch &:hover {
      color: $orange-color;
    }
  }

  .content__nav-prev:before {
    content: '\E801';
  }

  .content__nav-next:before {
    content: '\E800';
    margin: 0 0 0 10px;
  }
}