nav.nav
  ul.nav__wrap
    li.nav__item
      a.nav__link(href="") О нас
    li.nav__item
      a.nav__link(href="") Как мы работаем
    li.nav__item
      a.nav__link(href="") Контакты
    li.nav__item
      a.nav__link(href="") Блок
a.burger(href="")
  .burger__box
    .burger__inner

