ul.menu
  li
    a.menu__link(href="") Все
  li
    a.menu__link.is-active(href="") Кейсы
  li
    a.menu__link(href="") Портфолио
  li
    a.menu__link(href="") Новинки
  li
    a.menu__link(href="") Кейсы
  li
    a.menu__link(href="") Название какого-либо блока
  li
    a.menu__link(href="") Название пункта
  li
    a.menu__link(href="") Портфолио
  li
    a.menu__link(href="") Новинки
  li
    a.menu__link(href="") Кейсы
  li
    a.menu__link(href="") Название какого-либо блока
  li
    a.menu__link(href="") Название пункта
  li
    a.menu__link(href="") Портфолио
  li
    a.menu__link(href="") Новинки
  li
    a.menu__link(href="") Кейсы
  li
    a.menu__link(href="") Название какого-либо блока
  li
    a.menu__link(href="") Название пункта
  li
    a.menu__link(href="") Портфолио
  li
    a.menu__link(href="") Новинки
  li
    a.menu__link(href="") Кейсы
  li
    a.menu__link(href="") Название какого-либо блока
  li
    a.menu__link(href="") Название пункта
