/* Переменные */
@import '../_defaults/variables';

.menu {
  list-style-type: none;
  margin: - 18px 0;

  @media (max-width: 940px) {
    display: none;
  }

  li {
    display: block;
  }
}

.menu__link {
  display: inline-flex;
  align-items: center;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  margin: 18px 0;
  background: transparent;
  transition: color 0.08s, background 0.08s;
  padding: 4px 30px 4px 226px;

  .no-touch &:hover,
  &.is-active {
    color: #FFFFFF;
    background-color: $orange-color;
  }

  @media (max-width: 1468px) {
    padding: 4px 30px 4px 120px;
  }

  @media (max-width: 1200px) {
    padding: 4px 30px 4px 50px;
  }
}
