/* Переменные */
@import '../_defaults/variables';

.footer {
  padding: 150px 80px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @media (max-width: 1200px) {
    padding: 150px 50px 60px;
  }

  @media (max-width: 992px) {
    padding: 130px 40px 60px !important;
  }

  @media (max-width: 768px) {
    padding: 100px 24px 20px !important;;
    flex-wrap: wrap;
    text-align: center;
  }
}

.footer__copy {
  color: #ABABAB;

  @media (max-width: 768px) {
    width: 100%;
    order: 3;
  }
}

.footer__social {
  order: 1;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.footer__nav {
  display: none;
  order: 2;

  @media (max-width: 768px) {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px 0 50px;
  }
}

.footer__link {

  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: #000000;
    transition: color 0.08s;
    font-weight: bold;

    .no-touch &:hover {
      color: $orange-color;
    }
  }
}

