footer.footer
  .footer__copy Geparda © Все права защищены, 2019 г.
  .footer__social
    include ../social/social
    +social
  .footer__nav
    a.footer__link(href="") Наверх
    a.footer__link(href="") О нас
    a.footer__link(href="") Как мы работаем
    a.footer__link(href="") Контакты
    a.footer__link(href="") Блог
