/* Переменные */
@import '../_defaults/variables';
@import 'header-block/header-block';

.header {
  height: 749px;
  background: url('./components/header/header_bg.png') no-repeat;
  background-size: contain;

  @media (max-width: 1280px) {
    height: 548px;
    background-position: -100px 0;
  }

  @media (max-width: 992px) {
    height: 480px;
    background-position: -170px 0;
  }

  @media (max-width: 480px) {
    height: 370px;
    background-position: -170px 40px;
  }
}

/* Модификатор для страницы Article.html*/
.header--article {
  height: auto !important;
  background-image: none;
}

.header__top {
  display: flex;
  align-items: center;
  padding: 52px 226px 0;

  @media (max-width: 1468px) {
    padding: 52px 80px 0;
  }

  @media (max-width: 992px) {
    padding: 49px 50px 0 !important;
  }

  @media (max-width: 768px) {
    padding: 35px 24px 0 !important;
  }
}

.header__logo {
  font-size: 0;
  line-height: 0;
}

.header__mid {
  padding: 53px 130px 0 0;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 1280px) {
    padding: 0 60px 0 0;
    margin: -9px 0 0 0;
  }

  @media (max-width: 992px) {
    padding: 0 30px 0 0;
  }

  @media (max-width: 768px) {
    padding: 0 15px 0 0;
  }

  @media (max-width: 480px) {
    margin: 26px 0 0 0;
  }
}

/* Модификатор для страницы Article.html*/
.header__mid--article {
  display: none;
}

.header__nav {
  margin: 0 60px 0 auto;

  @media (max-width: 1200px) {
    margin: 0 0 0 auto;
  }

  @media (max-width: 992px) {
    display: flex;
    align-items: center;
  }
}

.header__callback {
  display: none;

  @media (max-width: 992px) {
    display: inline-block;
    line-height: 28px;
    font-size: 16px;
    text-decoration: underline;
    color: #FFB90A;
    font-weight: bold;
    margin: 0 120px 0 0;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.header__tag {
  padding: 42px 0 0 0;
}

.header__social {
  @media (max-width: 1200px) {
    display: none;
  }
}
