header.header
  .header__logo
    img(src=require('./logo.svg'))
  .header__props
    .header__social
      include ../social/social
    a.header__phone(href="tel:+79626989603") 8<span>962</span><span>6989603</span>
