/* Переменные */
@import '../_defaults/variables';
@import 'header-block/header-block';

.header {
  height: 815px;
  background: url('./components/header/header_bg.png') no-repeat;
  background-size: contain;

  @media (max-width: 1280px) {
    height: 548px;
    background-position: -100px 0;
  }
}

.header__top {
  display: flex;
  align-items: center;
  padding: 52px 226px 0;

  @media (max-width: 1468px) {
    padding: 52px 80px 0;
  }

  @media (max-width: 992px) {
    padding: 52px 50px 0;
  }
}

.header__logo {
  font-size: 0;
  line-height: 0;
}

.header__mid {
  padding: 53px 130px 0 0;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 1280px) {
    padding: 0 60px 0 0;
    margin: -9px 0 0 0;
  }
}

.header__nav {
  margin: 0 60px 0 auto;

  @media (max-width: 1200px) {
    margin: 0 0 0 auto;
  }

  @media (max-width: 992px) {
    position: absolute;
  }
}

.header__tag {
  padding: 42px 0 0 0;
}

.header__social {
  @media (max-width: 1200px) {
    display: none;
  }
}
