header.header
  .header__content
  .header__top
    .header__logo
      include ../logo/logo
    .header__nav
      include ../nav/nav
    .header__social
      include ../social/social
      +social
  .header__mid
    include ./header-block/header-block