.post
  .post__scene
    .post__wrap
      .post__image
        img(src=require('./image.png'))
      .post__image-desc
        p Дональд Трамп и Барак Обама (Белый Дом, США, 2016г.)
      .post__row
        .post__date 23.05.2019
        .post__nav
          span.post__nav-prev(href="")
          span.post__nav-next(href="")
      .post__title
        h1 Политические достижения Дональда Трампа в области коммерции
      .post__text
        p Дата опубликования текущей версии: 1 июля 2019 года
        p Политика обработки персональных данных (далее — Политика) разработана ООО «ГЕПАРДА», зарегистрированной за ОГРН 1187746918963 (далее — Оператор) в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных» (далее — Закон) и другими нормативными правовыми актами в области персональных данных.
        p Политика действует в отношении всей информации о физическом лице, которую Оператор может получить во время использования физическим лицом любого из сайтов, программ или продуктов (далее — Сервисы) Оператора.
        ol
          li.strong Общие положения
            ol
              li Политика определяет порядок обработки и защиты информации о физических лицах, использующих Сервисы.
              li Использование физическим лицом Сервисов означает безоговорочное согласие с настоящей Политикой и указанными в ней условиями обработки персональных данных. В случае несогласия физического лица с Политикой использование Сервисов должно быть немедленно прекращено.
              li Целью Политики является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, четкое и неукоснительное соблюдение требований законодательства Российской Федерации в области персональных данных
        ol
          li.strong Общие положения
            ol
              li Политика определяет порядок обработки и защиты информации о физических лицах, использующих Сервисы.
              li Использование физическим лицом Сервисов означает безоговорочное согласие с настоящей Политикой и указанными в ней условиями обработки персональных данных. В случае несогласия физического лица с Политикой использование Сервисов должно быть немедленно прекращено.
              li Целью Политики является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, четкое и неукоснительное соблюдение требований законодательства Российской Федерации в области персональных данных
        ol
          li.strong Общие положения
            ol
              li Политика определяет порядок обработки и защиты информации о физических лицах, использующих Сервисы.
              li Использование физическим лицом Сервисов означает безоговорочное согласие с настоящей Политикой и указанными в ней условиями обработки персональных данных. В случае несогласия физического лица с Политикой использование Сервисов должно быть немедленно прекращено.
              li Целью Политики является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, четкое и неукоснительное соблюдение требований законодательства Российской Федерации в области персональных данных
        ol
          li.strong Общие положения
            ol
              li Политика определяет порядок обработки и защиты информации о физических лицах, использующих Сервисы.
              li Использование физическим лицом Сервисов означает безоговорочное согласие с настоящей Политикой и указанными в ней условиями обработки персональных данных. В случае несогласия физического лица с Политикой использование Сервисов должно быть немедленно прекращено.
              li Целью Политики является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, четкое и неукоснительное соблюдение требований законодательства Российской Федерации в области персональных данных
        ol
          li.strong Общие положения
            ol
              li Политика определяет порядок обработки и защиты информации о физических лицах, использующих Сервисы.
              li Использование физическим лицом Сервисов означает безоговорочное согласие с настоящей Политикой и указанными в ней условиями обработки персональных данных. В случае несогласия физического лица с Политикой использование Сервисов должно быть немедленно прекращено.
              li Целью Политики является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, четкое и неукоснительное соблюдение требований законодательства Российской Федерации в области персональных данных
        ol
          li.strong Общие положения
            ol
              li Политика определяет порядок обработки и защиты информации о физических лицах, использующих Сервисы.
              li Использование физическим лицом Сервисов означает безоговорочное согласие с настоящей Политикой и указанными в ней условиями обработки персональных данных. В случае несогласия физического лица с Политикой использование Сервисов должно быть немедленно прекращено.
              li Целью Политики является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, четкое и неукоснительное соблюдение требований законодательства Российской Федерации в области персональных данных
      .post__footer
        .post__home
          a(href="") На главную
        .post__social
          include ../social/social
          +social('white')
        .post__nav.post__nav--white
          a(href="")
          a(href="")