/* Переменные */
@import '../_defaults/variables';

.post {
  margin: 60px 0 0;
  background: url('./components/post/circle.png') no-repeat -50px 900px;
  overflow: hidden;
}

.post__wrap {
  max-width: 760px;
  margin: 0 auto;
  background: #FBFBFB;
  position: relative;
}

.post__scene {
  max-width: 1268px;
  margin: 0 auto;
  background: url('./components/post/smile.png') no-repeat 89% 20px,
  url('./components/post/thumb.png') no-repeat 0 350px,
  url('./components/post/bloggywood.png') no-repeat 95% 700px,
  url('./components/post/w.png') no-repeat 50px 3150px,
  url('./components/post/w1.png') no-repeat 50px 3450px,
  url('./components/post/w2.png') no-repeat 50px 3750px,
  url('./components/post/d.png') no-repeat 0 1450px;
}

.post__row,
.post__title,
.post__text,
.post__image-desc {
  //padding: 0 60px;

  @media (max-width: 375px) {
    //padding: 0 24px;
  }
}

.post__image {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  line-height: 0;
  font-size: 0;

  img {
    width: 100%;
  }
}

.post__image-desc,
.post .wp-caption-text {
  text-align: center;
  margin: 20px 24px;
  font-size: 14px;
}

.post__row {
  margin: 40px 0 60px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  max-width: 760px;

  @media (max-width: 375px) {
    padding: 0 24px;
  }
}

.post__date {
  font-size: 24px;
  line-height: 26px;
}

.post__nav {
  .post__nav-prev,
  .post__nav-next {
    color: #000000;
    transition: color 0.08s;
    font-size: 18px;

    &:before {
      font-family: $font-icons;
    }

    .no-touch &:hover {
      color: $orange-color;
    }
  }

  .post__nav-prev:before {
    content: '\E806';
  }

  .post__nav-next:before {
    content: '\E807';
    margin: 0 0 0 15px;
  }
}

.post__nav--white {
  .post__nav-prev,
  .post__nav-next {
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.08s;

    .no-touch &:hover {
      opacity: 0.7;
      color: #FFFFFF;
    }
  }
}

.post__title,
.post h1 {
  margin: 60px 0 30px;
  font-size: 30px;
  line-height: 44px;
  padding: 0 60px;

  @media (max-width: 980px) {
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: 375px) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 24px;
  }
}

.post__text,
.post {
  font-size: 18px;
  line-height: 141%;

  /* Абзац*/
  p {
    margin: 20px 60px;

    &:first-child {
      margin: 0;
    }
  }

  /* Многоуровневый список*/
  ol {
    counter-reset: item;
    font-weight: normal;
    margin: 20px 60px;

    li {
      display: block;
      margin: 20px 0;
      font-weight: normal;

      &.strong {
        font-weight: bold;
      }

      & > ol {
        margin: 20px 0;
      }
    }

    li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
    }
  }

  @media (max-width: 980px) {
    font-size: 14px;
  }

  @media (max-width: 375px) {
    font-size: 12px;

    p,
    ul,
    ol {
      margin: 20px 24px;
    }
  }
}

.post__footer {
  background: $orange-color;
  display: flex;
  justify-content: space-between;
  padding: 45px 60px;
  margin: 100px 0 0;

  @media (max-width: 375px) {
    padding: 45px 24px;
  }
}

.post__social {
  @media (max-width: 768px) {
    display: none;
  }
}

.post__home {
  a {
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.08s;
    font-size: 18px;
    font-weight: bold;

    .no-touch &:hover {
      opacity: 0.7;
      color: #FFFFFF;
    }
  }
}

.post__comment {
  margin: 60px auto 0;
  max-width: 660px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 24px;
  }
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

img[class*="align"],
img[class*="wp-image-"] {
  height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}

img.size-full {
  max-width: 100%;
  width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}

div[class*='wp-caption'] {
  width: auto;
}
