article.item
  .item__image
    img(src=require('./example.png'))
    .item__date
      time(datetime="2019-05-23") 23.05.2019
  header.item__title
    h2 Политические достижения Дональда Трампа в области коммерции
  footer.item__link
    a(href="") Читать