/* Переменные */
@import '../_defaults/variables';

.social {
  display: inline-flex;
  margin: 0 -25px;
}

.social__link {
  display: inline-flex;
  margin: 0 25px;

  &:before {
    font-family: $font-icons;
    color: #000000;
    font-size: 20px;
    transition: color 0.08s;
  }

  .no-touch &:hover {
    &:before {
      color: $orange-color;
    }
  }

  @media (max-width: 768px) {
    &:before {
      font-size: 16px;
    }
  }
}

/* Белый цвет ссылок*/
.social__link--white {
  &:before {
    color: #FFFFFF;
    transition: opacity 0.08s;
  }

  .no-touch &:hover {
    &:before {
      opacity: 0.7;
      color: #FFFFFF;
    }
  }
}

.social__link--insta {
  &:before {
    content: '\E803';;
  }
}

.social__link--tele {
  &:before {
    content: '\E804';;
  }
}

.social__link--face {
  &:before {
    content: '\E802';;
  }
}

