.tag
  ul.tag__list
    li.tag__title Теги:
    li
      a.tag__link.is-active(href="", title="Все") Все
    li
      a.tag__link(href="", title="#политика") #политика
    li
      a.tag__link(href="", title="#маркетинг") #маркетинг
    li
      a.tag__link(href="", title="#пиар") #пиар
    li
      a.tag__link(href="", title="#соцсети") #соцсети
    li
      a.tag__link(href="", title="#instagramm") #instagramm
    li
      a.tag__link(href="", title="#Вконтакте") #Вконтакте
    li
      a.tag__link(href="", title="#Facebook") #Facebook
    li
      a.tag__link(href="", title="#КРИСТИНААРБАКАЙТЕ") #КРИСТИНААРБАКАЙТЕ